<div class="relative flex flex-col w-full h-full overflow-scroll text-slate-300 bg-slate-800 shadow-md rounded-lg bg-clip-border">
  <table class="w-full text-left table-auto min-w-max">
      <thead>
          <tr>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Fecha
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Hora
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Monto
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      fdfdf
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      ddfdfghjk
                  </p>
              </th>
          </tr>
      </thead>
      <tbody>
        <tr
        *ngFor="let gasto of gastos"
        class="even:bg-slate-900 hover:bg-slate-700"
      >
        <td class="p-4 border-b border-slate-700">{{ gasto.fecha }}</td>
        <td class="p-4 border-b border-slate-700">{{ gasto.hora }}</td>
        <td class="p-4 border-b border-slate-700">${{ gasto.monto }}</td>
        <td class="p-4 border-b border-slate-700">{{ gasto.categoria }}</td>
        <td class="p-4 border-b border-slate-700">{{ gasto.proveedor }}</td>
      </tr>
      </tbody>
  </table>
</div>

