<div class="relative flex flex-col w-full h-full overflow-scroll text-slate-300 bg-slate-800 shadow-md rounded-lg bg-clip-border">
  <table class="w-full text-left table-auto min-w-max">
      <thead>
          <tr>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Fecha
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Hora
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Monto
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Categoría
                  </p>
              </th>
              <th class="p-4 border-b border-slate-600 bg-slate-700">
                  <p class="text-sm font-normal leading-none text-slate-300">
                      Proveedor
                  </p>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="even:bg-slate-900 hover:bg-slate-700">
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-100 font-semibold">
                      2024-11-18
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      10:00 AM
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      $200
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      Compra de limones
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      Frutas del Sol
                  </p>
              </td>
          </tr>
          <tr class="even:bg-slate-900 hover:bg-slate-700">
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-100 font-semibold">
                      2024-11-18
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      11:30 AM
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      $500
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      Azúcar
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      Dulces del Campo
                  </p>
              </td>
          </tr>
          <tr class="even:bg-slate-900 hover:bg-slate-700">
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-100 font-semibold">
                      2024-11-18
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      01:45 PM
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      $350
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      Endulzantes
                  </p>
              </td>
              <td class="p-4 border-b border-slate-700">
                  <p class="text-sm text-slate-300">
                      SweetWorld
                  </p>
              </td>
          </tr>
          <tr class="even:bg-slate-900 hover:bg-slate-700">
              <td class="p-4">
                  <p class="text-sm text-slate-100 font-semibold">
                      2024-11-18
                  </p>
              </td>
              <td class="p-4">
                  <p class="text-sm text-slate-300">
                      03:20 PM
                  </p>
              </td>
              <td class="p-4">
                  <p class="text-sm text-slate-300">
                      $450
                  </p>
              </td>
              <td class="p-4">
                  <p class="text-sm text-slate-300">
                      Azúcar
                  </p>
              </td>
              <td class="p-4">
                  <p class="text-sm text-slate-300">
                      Azucarera Mundial
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>

