.flex {
  display: flex;
}

.gap-4 {
  gap: 1rem; /* Espacio entre las gráficas */
}

.mt-4 {
  margin-top: 1rem;
}

.w-1{
  width: 50%; /* Las gráficas ocupan la mitad del espacio cada una */
}
.w-2{
  width: 50%; /* Las gráficas ocupan la mitad del espacio cada una */
}
